[config]
version = 1

# Scaner settings
[scan]
# Scan this dir
dir = ../

# Filename of file with last scan results
snapshot = ./snapshot.list

# Template filename for text diffs.
# '%s' will be replaced with date
diff_template = ./new_%s.txt

# Format of time in diff filename
# see 'man date'
diff_timeformat = %F

exclude_dirs = whats_new

# Sender settings
[send]

# One of:
#  * lj -- post to livejournal.com
#  * juick -- post to juick.com (Not implemented yet)
to=lj


# One of:
#  * telepathy -- try to send message using started telepathy framework
#  * jabber -- not implemented yet
using=telepathy

# Telepathy framework settings
[telepathy]
account_id = myjid_example_com

# LJ settings
[lj]
bot_jid=lj_bot@livejournal.com
subject=New [%s]